<div class="ui mini menu">
  <a class="active item" href="/users">
    Felhasználók
  </a>
  <a class="item" href="/projects" >
    Fordítások
  </a>
  <a class="item" href="/uploads" >
  Feltöltés
</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Menü<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Regisztrálás</a>
        <a class="item">Belépés</a>
        
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Regisztrálás</div>
    </div>
  </div>
</div>